.sidebar {
  background-color: #49045f;
  color: rgba(255,255,255,.75);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.sidebar-about h1 {
  font-size: 2.4rem;
}

.sidebar-about a:hover {
  text-decoration: none;
}

.sidebar-about .fa {
  width: 2.4rem;
  animation-name: fontAwesomeBlur;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
}

@keyframes fontAwesomeBlur {
    0% {
        transform: translateY(-100%);
        -webkit-filter: blur(5px);
    }
    100% {
        transform: translateY(0);
        -webkit-filter: blur(0px);
    }
}

p.footnote {
  margin-bottom: 0;
}

pre, pre[class*=language-] {
  background-color: #f9f9f9;
  margin: .5em 0;
  padding: 1rem;
}

.result-container {
  margin-bottom: 1rem;
}

.result-container pre {
  position: relative;
}

.result-container .fa {
  animation-name: fontAwesomeFade;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
  font-size: 1rem;
  position: absolute;
  right: 1rem;
}

@keyframes fontAwesomeFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
