<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=aljv5RGPao">
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=aljv5RGPao" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png?v=aljv5RGPao" sizes="16x16">
<link rel="manifest" href="/manifest.json?v=aljv5RGPao">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=aljv5RGPao" color="#49045f">
<link rel="shortcut icon" href="/favicon.ico?v=aljv5RGPao">
<meta name="apple-mobile-web-app-title" content="I ♡ SOFTWARE">
<meta name="application-name" content="I ♡ SOFTWARE">
<meta name="theme-color" content="#49045f">
